/*************** MAIN ELEMENTS ***************/
body {
    margin: 0;
    padding: 0;
    display: block;
    pointer-events: none;
}
div,img,svg{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
}
#wrapper {
    display: block;
    top: 0;
    left: 0;
    width: 320px;
    height: 480px;
    overflow: hidden;
    background-color: #fff;
    pointer-events: none;
}
#bannerCover {
    width: inherit;
    height: inherit;
    background: #fff ;
    pointer-events: none;
}
#border {
    /* border: 2px solid #19510b; */
    border: 1px solid #000;
    opacity: 0.9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    pointer-events: none;
}
#bgexit {
    width: inherit;
    height: inherit;
    cursor:pointer;
    pointer-events: auto;
    /* background-color: #ff0000; */
}

#bg {
    top:0px;
    left:0px;
}
#pic_box{
    top: 0px;
    left: 0px;
}
#bar1,#bar2,#bar3{
    width: 50px;
    height: 10px;
    background-color:#DA291C;
}
#bar1{
    top: 81px;
    left: 0px;
}
#bar2{
    top: 253px;
    left: 260px;
}
#bar3{
    top: 275px;
    left: 34px;
}
/******************** CTA ********************/
#cta {
    top: 437px;
    left: 80px;
    width: 160px;
    height: 26px;
    border: 1px solid;
    color:#FFF;
    background-color:#DA291C;
    border-color:#DA291C;
     border-radius:0px 0px 0px 14px;
    cursor: pointer;

    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    
    text-align: center;
    line-height: 27px;
    letter-spacing: 0.4pt; 
    font-size: 16px;
    /* // */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/********************** TEXT **********************/
#logo_blueAlly{
    top: 12px;
    left: 183px;
    width: 110px;
    height: auto; 
    /* filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.8));  */
}
    #divider{
        top: 24px;
        left: 159px;
        width: 1px;
        height: 20px;
        background-color: black;
        opacity: 0.4;
    }
    #logo_fortinet{
        top: 15px;
        left: 17px;
        width: 136px;
        height: auto; 
        /* filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 1.0))drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.9));  */
    } 
#picGroup {
    top:0px;
    left:0px;
}

#text11{
    /* display: none; */
    top: 298px;
    left: 15px;
    width: 290px;
    height: auto;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 31px;
    letter-spacing: 0.8pt;
    line-height: 36px;
    text-align: center;
    color:#000;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#text_red{
    color:#DA291C;
}
#text12{
    /* display: none; */
    top: 375px;
    left: 15px;
    width: 290px;
    height: auto;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.2pt;
    line-height: 24px;
    text-align: center;
     color:#000;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#text21{
    display: none;
    top: 358px;
    left: 0px;
    width:300px;
    height: auto;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 36px;
    letter-spacing: 0.4pt;
    line-height: 39px;
    text-align: center;
     color:#000;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#text22{
    display: none;
    top: 482px;
    left: 0px;
    width:300px;
    height: auto;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 1.4pt;
    line-height: 24px;
    text-align: center;
     color:#000;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
