/*************** MAIN ELEMENTS ***************/
body {
    margin: 0;
    padding: 0;
    display: block;
    pointer-events: none;
}
div,img,svg{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
}
#wrapper {
    display: block;
    top: 0;
    left: 0;
    width: 728px;
    height: 90px;
    overflow: hidden;
    background-color: black;
}
#bannerCover {
    width: inherit;
    height: inherit;
    background: black ;
    pointer-events: none;
}
#border {
    /* 19510b */
    /* border: 2px solid #4a8b2c; */
    border: 2px solid #19510b;
    /* opacity: 0.4; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    pointer-events: none;
}
#bgexit {
    width: inherit;
    height: inherit;
    cursor:pointer;
    pointer-events: auto;
    /* background-color: #ff0000; */
}
/********************** TEXT **********************/
#logo_barracuda{
    top: 9px;
    left: 477px;
    width: 113px;
    height: auto; 
}
#divider{
    top: 19px;
    left: 603px;
    width: 1px;
    opacity: 0.8;
    height: 19px;
    overflow: hidden;
    background-color: #fff;
}
#logo_blueAlly{
    top: 13px;
    left: 617px;
    width: 83px;
    height: auto; 
}
/* #p1,#p2 { */
    /* top side, left side 0,  */
    /* clip: rect(0px,0px,250px,0px); */
    /* clip: rect(0px,300px,250px,0px); */
/* } */

/* -------------------------------------- */
.textGroup{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;
    color:#FFF;
}
#textGroup1{
    top: 0px;
    left:7px;
}
/* Your */
#text11{
    top: 26px;
    left: 34px;
    font-size: 38px;
    letter-spacing: 3px;
}
/* Email */
#text12{
    top: 18px;
    left: 158px;
    font-weight: 800;
    font-size:46px;
    letter-spacing: 4px;
    color:#77d31b;
}
/* Is */
#text13{
    top: 26px;
    left: 320px;
    font-size: 38px;
    letter-spacing: 3px;
}
#text14{
    top: 18px;
    left: 369px;
    font-weight: 800;
    font-size:46px;
    letter-spacing: 4px;
}
/* Secure */
#text15{
    top: 17px;
    left: 488px;
    font-weight: 800;
    font-size:46px;
    letter-spacing: 5px;
}
/* -------------------------------------- */
#textGroup2{
    top: 0px;
    left:2px;
}
#text21{
    top: 18px;
    left: 39px;
    font-weight: 800;
    font-size: 45px;
    letter-spacing:4px;
}
/* spam  - 25 px gap*/
#text22{
    top: 18px;
    left: 293px;
    font-weight: 800;
    font-size: 45px;
    letter-spacing:4px;
}
#text23{
    top: 18px;
    left: 449px;
    font-weight: 800;
    font-size: 45px;
    letter-spacing:4px;
}
#icon_fish{
    top: -175px;
    left: 450px;
    width: 40px;
    height: auto;
}
#icon_mailGroup{
    width:90px; 
    height: auto; 
}
 #icon_mail1{
    top: 9px;
    left: 455px;
    rotate: -11deg;
    width:60px; 
    height: auto; 
}
#icon_mail2{
    top: 38px;
    left: 551px;
    rotate: 7deg;
    width:60px; 
    height: auto; 
} 
#icon_mail3{
    top: 21px;
    left: 645px;
    rotate: 18deg;
    width:60px; 
    height: auto; 
}
#bug_box1{
    top: -320px;
    left: 60px;
    height: 100px;
    width: 80px;
    rotate: -354deg;
    /* rotate: -20deg; off right */
    /* rotate: 80deg; off */
    background-color: red;
}
#bug_box2{
    top: 290px;
    left: 585px;
    height: 100px;
    width: 100px;
    rotate: -180deg;
    /* rotate: -20deg; off right */
    /* rotate: 80deg; off */
    /* background-color: blue; */
}
#icon_bug1,#icon_bug2{
    top: 220px;
    left: 270px;
}
/* -------------- Part 3 -  END - Text 3 ------------ */
#text3{
    top: 0px;
    left:0px
}
#text33{
    top: 5px;
    left: 26px;
    font-weight: 800;
    font-size: 45px;
    letter-spacing: 4px;
    color:#77d31b;
}
#text34{
    top: 5px;
    left: 185px;
    font-weight: 800;
    font-size: 45px;
    letter-spacing: 4px;
}
#text35{
    top: 56px;
    left: 26px;
    width: 400px;
    font-weight: 600;
    font-size: 22px;
    text-align: left;
    letter-spacing: 18px;
    /* background-color: red; */
}
/******************** CTA ********************/
#cta , #cta2{
    top: 49px;
    left:475px;
    width: 219px;
    height: 25px;
    line-height: 28px;
    letter-spacing: 1pt;
    cursor: pointer;
    border: 2px solid;
    color:#fff;
    background-color:#4a8b2c;
    /* border-radius:2px; */
    border-radius:2px 2px 8px 2px;
    border-color:#82c341;
    text-align: center;

    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
#cta2{
    opacity:0;
    filter: drop-shadow(0px 0px 12px rgba(255, 255, 255, 0.9)); 
}

/******************** BACKGROUND ********************/
#bg_green {
    top:0px;
    overflow: hidden;
}
#bg_shade{
    opacity: 0.6;

}

/******************** LOGO ********************/
