body, body * {
	vertical-align: baseline;
	border: 0;
	outline: 0;
	padding: 0;
  margin: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}
div,img,video,p,svg,button,iframe{
  position: absolute;
}
#main-container {
  width: 100%;
  height: 100%;
    /* width: 1920px;
    height: 1080px; */
    /* overflow: hidden; */
    border: 0px solid #ef5a2a;  
    box-sizing: border-box;
    background: #fff;
}
@font-face {
  font-family: font1;
  src: url(fonts/Arial.ttf);
}
@font-face {
  font-family: font2;
  src: url(fonts/Arial_Bold.ttf);
}
@font-face {
  font-family: font3;
  src: url(fonts/Poster_Sans.ttf);
}

/* ---------------------------------------- */
.bg, #p1, #p2{
  height:100%;
  width:100%;
  /* background-color: red; */

}

/* ---------------------------------------- */
#title{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: font3;
  width:100%;
  height:40%; 
  color: #fff;
  padding: 0px 0px; 
  text-align: center;
  text-decoration: none;
  font-size: 80%;
  font-size: 15.5vw;
  margin: 0px 0px;
  /* background-color: red; */
}
.nav_container{
  padding: 0;
  margin: 0;
  /* width:472px; */
  width:30%;
  height:12%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px; 
  background-image: linear-gradient(90deg,#deecf1 50%,#c6e2e7  50%); /* Standard syntax (must be last) */
  opacity: 0.8;
}
.nav_container:hover{
  opacity:1;
}
#nav_container1{
  top:40%;
  left:15%;
}
#nav_container2{
  top:40%;
  left:55%;
}
#nav_container3{
  top:60%;
  left:15%;
}
#nav_container4{
  top:60%;
  left:55%;
}
#nav_container5{
  top:80%;
  left:35%;
}
  /* deecf1 lite blue */ 
  /* c6e2e7  dark blue */ 
  /* 293939  grey */
  /* 384949  dark grey */
.btn_nav{
  font-family: font2;
  width:100%;
  height:100%;
  background-color:transparent;
  opacity: 1.0;
  padding: 6px 0px; 
  text-align: center;
  text-decoration: none;
  /* font-size: 76px; */
  font-size: 2.5vw;
  margin: 0px 0px;
  cursor: pointer;
}
.btn_nav:hover{
  opacity: 1;
}

/* ---------------Part 2 ------------------------- */
.btn_nav_p2{
  width: 4%;
  height: auto;
  transform: translate(0%, 0%);
  opacity: 0.8;
  cursor: pointer;
  /* background-color: red; */
}
.btn_nav_p2:hover{
  opacity: 1;
}
#btn_home{
  /* transform: translate(0%, 0%); */
  top:30px;
  left:30px;
}
#btn_next{
  right:30px;
  bottom:30px;
}
#btn_back{
  left:30px;
  bottom:30px;
}
/* ---------------Part 2 Video Containers---------- */

    .player{
      width:30%;
      height:45%;
      top:0px;
      left:0px; 
      /* background-color: turquoise; */
      overflow:visible;
    }

    #player1{
      top:3%;
      left:15%;
    }
    #player2{
      top:3%;
      left:55%;
    }
    #player3{
      top:52%;
      left:15%;
      /* background-color:red; */
    }
    #player4{
      top:52%;
      left:55%;
    }
/* ---------- TOP ---------------------- */

#bannerCover{
  visibility: visible;
  opacity: 1;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #000; 
  pointer-events: none;
}


