/*************** MAIN ELEMENTS ***************/
body {
    margin: 0;
    padding: 0;
    display: block;
    pointer-events: none;
}
div,img,svg{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
}
#wrapper {
    display: block;
    top: 0;
    left: 0;
    width: 300px;
    height: 250px;
    overflow: hidden;
    background-color: #fafcfd;
    /* background-color: #ff0000; */
    pointer-events: none;
}
#bannerCover {
    width: inherit;
    height: inherit;
    background: #fff ;
    pointer-events: none;
}
#border {
    /* border: 2px solid #19510b; */
    border: 1px solid #272b6f;
    opacity: 0.99;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    pointer-events: none;
}
#bgexit {
    width: inherit;
    height: inherit;
    cursor:pointer;
    pointer-events: auto;
    /* background-color: #ff0000; */
}
#bg {
    top:0px;
    left:0px;
}
#pic1{
    top: 0px;
    left: 0px;
}
/******************** CTA ********************/
#cta {
    top: 211px;
    left: 50px;
    width: 200px;
    height: 18px;
    border: 1px solid;
    color:#FFF;
    background-color:#479ad4;
    border-color:#479ad4;
    border-radius:40px;
    cursor: pointer;
    padding-top: 5px;
    font-family: "DM Sans", sans-serif;
    
    font-weight: 900;
    font-style: normal;
    text-align: center;
    line-height: 14px;
    letter-spacing: 0.4pt; 
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/********************** Logos **********************/
#logo_blueAlly{
    top: 8px;
    left: 160px;
    width: 76px;
    height: auto; 
    /* filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.8));  */
}
    #divider{
        top: 7px;
        left: 141px;
        width: 2px;
        height: 27px;
        background-color: #272b6f;
        opacity: 0.99;
    }
    #logo_cisco{
        top: 6px;
        left: 76px;
        width: 49px;
        height: auto; 
        /* filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 1.0))drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.9));  */
    } 

/********************** text **********************/
#text_head{
    top: 182px; 
    left: 0px;
    width: 300px;
    height: auto;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 21px;
    letter-spacing: 0.1pt;
    line-height: 19px;
    text-align: center;
     color:#272b6f;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* background-color: red; */
}
#text_sub{
    top: 137px;
    left: 0px;
    width: 300px;
    height: auto;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.6pt;
    line-height: 19px;
    text-align: center;
    color:#616264;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* background-color: red; */
}
#text1{
    top: 201px;
    left: 30px;
    width: auto;
    height: auto;
    white-space: nowrap;
    opacity: 0;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.4pt;
    line-height: 10px;
    text-align: left;
    vertical-align: text-bottom;
    color:#272b6f;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* background-color: red; */
}
#text1_altColor{
    color:#479ad4;
}
#pic {
    top:0px;
    left:0px;
}
#fade {
    top:130px;
    left:0px;
    width: 20px;
    height: 100px;
    background: #FAFCFD;
    background: linear-gradient(90deg, rgba(250, 252, 253, 1) 0%, rgba(250, 252, 253, 1) 20%, rgba(250, 252, 253, 0) 100%);
}
#fade2 {
    top:130px;
    left:280px;
    width: 20px;
    height: 100px;
    background: #FAFCFD;
    background: linear-gradient(270deg, rgba(250, 252, 253, 1) 0%, rgba(250, 252, 253, 1) 20%, rgba(250, 252, 253, 0) 100%);
}

